<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
      connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=DBeAgendaTests;Integrated Security=True;Pooling=False"
      name="DBeAgenda"
      providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>